@font-face {
    font-display: auto;
    font-family: 'komika_axisregular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/KOMIKAX_-webfont.woff') format('woff');
}

.wm-page-top-frame {
    background-color: #272b30;
}

.wm-top-title {
    color: yellow;
    font-family: 'komika_axisregular';
    font-variant: small-caps;
    text-shadow:
         1px  1px 0 red,
         1px -1px 0 red,
        -1px -1px 0 red,
        -1px  1px 0 red;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.25em; }
h4 { font-size: 1.1em; }
h5, h6 {
    font-size: 1em;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
